@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Nanum+Pen+Script');

*{
    font-family: 'Nanum Pen Script', cursive;
    margin: 0;
}
#정보{
    font-family: nanum;

}
.title {
    width: 40%;
    margin: 100px auto 50px auto;
}
.title h1 {
  height: 100px;
  width: 80%;
  line-height: 100px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(212, 212, 212, 1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(212, 212, 212, 1);
  box-shadow: 0px 0px 28px 0px rgba(212, 212, 212, 1);
}
#text-align:center {
height: 100px;
width: 100%;
line-height: 100px;
background-color: #ffffff;
color: #444444;
text-align: center;
-webkit-box-shadow: 0px 0px 28px 0px rgba(212, 212, 212, 1);
-moz-box-shadow: 0px 0px 28px 0px rgba(212, 212, 212, 1);
box-shadow: 0px 0px 28px 0px rgba(212, 212, 212, 1);
}
#about-container .abouts{
    margin-top: 50px;
}
#about-container .about{
    width: 60%;
    margin:0 auto;
    font-size: 18px;
    line-height: 1.8em;
}
#about-container .about .question{
    line-height: 2.5em;
    margin-left : 20px;
}
#about-container .about .answer
.answer{
    font-size: 30px;
}
.ic{
    width: 150px;
    height: 150px;
}